.card {
  padding: 1.2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.daysChip {
  font-size: 11px !important;
  align-self: flex-start;
  font-weight: 500;
  border-radius: 0.5rem !important;
  height: 19px !important;
  border-radius: 4px !important;
}

.readinessContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progressBarWrapper {
  display: flex;
  gap: 2px;
  width: 100%;
  margin: 8px 0;
}
.segment {
  flex: 1;
  height: 30px;
  border-radius: 3px;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}
.filled {
  opacity: 1;
}

.title {
  color: #2e2e38;
  font-size: 1rem;
  width: calc(100% - 50px - 4px);
}

.progressWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.progressText {
  background: linear-gradient(to right, #0063fd, #0b9fca);
  width: 50px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;
}

.button {
  font-size: 14px !important;
  font-weight: 700;
}

.progressBell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.9px;
  padding-bottom: 12px;
}

.progressBellItem {
  height: 27px;
  width: 3px;
  border-radius: 4px;
}
