.card {
  padding: 1.2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.daysChip {
  align-self: flex-start;
  font-weight: 500;
  border-radius: 0.5rem !important;
}
.readinessContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progressBarWrapper {
  display: flex;
  gap: 2px;
  width: 100%;
  margin: 8px 0;
}
.segment {
  flex: 1;
  height: 30px;
  border-radius: 3px;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}
.filled {
  opacity: 1;
}

.red {
  background: linear-gradient(135deg, #ff4d4f, #d9363e) !important;
}
.orange {
  background: linear-gradient(135deg, #ffa940, #d48806) !important;
}
.green {
  background: linear-gradient(135deg, #52c41a, #389e0d) !important;
}

.readiness {
  margin-left: auto;
  color: #fff !important;
  font-weight: 700;
  border-radius: 16px !important;
}
