.component5040Child,
.groupChild {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.component5040Child {
  bottom: 0;
  box-shadow: 0 23px 26px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-20);
  background-color: var(--color-white);
  height: 97px;
}
.groupChild {
  top: 0;
  background-color: var(--color-firebrick);
  height: 2px;
}
.component5040Inner {
  position: absolute;
  top: 0;
  left: calc(50% + 410px);
  background: linear-gradient(
    180deg,
    var(--color-firebrick),
    rgba(137, 244, 201, 0)
  );
  width: 34px;
  height: 10px;
}
.component5040Item {
  position: absolute;
  top: calc(50% - 24.5px);
  left: 45px;
  width: 53px;
  height: 50px;
  background-image: url(../assets/group-257@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home {
  position: absolute;
  top: calc(50% + 9px);
  left: 0;
  font-weight: 500;
  text-align: left;
}
.groupItem {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 17.3px;
  height: 19px;
}
.bazaWydarze,
.bazaWystawcw {
  position: absolute;
  bottom: 0;
  font-weight: 500;
}
.bazaWystawcw {
  left: calc(50% - 60.5px);
  line-height: 13px;
}
.bazaWydarze {
  left: 113px;
}
.path11682Icon {
  position: absolute;
  width: calc(100% - 0.7px);
  top: 1.38px;
  right: 0.36px;
  left: 0.34px;
  max-width: 100%;
  overflow: hidden;
  height: 4.6px;
}
.path11683Icon,
.path11684Icon {
  position: absolute;
  top: -0.5px;
  left: calc(50% - 5.19px);
  width: 2.7px;
  height: 4.8px;
}
.path11684Icon {
  left: calc(50% + 2.5px);
}
.path11685Icon {
  position: absolute;
  top: calc(50% - 1.78px);
  left: calc(50% - 3.89px);
  width: 8px;
  height: 8px;
}
.path11682Parent {
  position: absolute;
  height: calc(100% - 23.4px);
  width: calc(100% - 670.2px);
  top: -1px;
  right: 521.11px;
  bottom: 24.4px;
  left: 149.09px;
  border-radius: var(--br-2);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.groupInner {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 26.5px);
  width: 31px;
  height: 19px;
}
.ellipseIcon {
  position: absolute;
  bottom: 34px;
  left: 494px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.rectangleDiv {
  position: absolute;
  right: 182px;
  bottom: 24px;
  border-radius: var(--br-10) var(--br-10) var(--br-5) var(--br-5);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 13px;
  height: 14px;
}
.uytkownicy {
  position: absolute;
  bottom: 1px;
  left: calc(50% + 117.5px);
  line-height: 13px;
  font-weight: 500;
}
.groupIcon {
  position: absolute;
  top: calc(50% - 18px);
  right: 26px;
  width: 21px;
  height: 20px;
}
.bazaDanych {
  position: absolute;
  bottom: 1px;
  left: calc(50% + 271.5px);
  line-height: 13px;
  font-weight: 500;
}
.homeParent {
  position: absolute;
  top: calc(50% - 26.5px);
  right: 74px;
  width: 687px;
  height: 44px;
}
.component5040 {
  position: absolute;
  top: 36px;
  left: 146px;
  width: 1074px;
  height: 97px;
  text-align: center;
  font-size: var(--font-size-12);
  color: var(--color-dimgray-200);
  font-family: var(--font-roc-grotesk);
}
