.layout {
  display: grid;
  min-height: calc(100vh - 0px);
}

.mainHeader {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.headerInner {
  display: inline-grid;
  grid-template-columns: 55px auto;
  gap: 35px;
  align-items: center;
}

.headerTitle {
  color: #2e2e38;
  font-size: 18px;
  font-weight: 700;
}

.headerImage img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.content {
  padding: 16px;
}

.title {
  margin-top: 0px;
  margin-bottom: 26px;
  font-weight: 700;
}

.details {
  margin-top: 8px;
}

.label {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #6f87f6;
  margin-bottom: 2px;
}

.value {
  color: #666a73;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 16px;
}

.separator {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.dash {
  position: absolute;
  left: 4px;
  right: 0;
  top: 380px;
  width: 100%;
  border: 1px solid;
  border-image: repeating-linear-gradient(
      90deg,
      #6f87f6 0 10px,
      transparent 5px 18px
    )
    1;
}

.footer {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 130px;
  width: auto;
  padding-right: 2px;
  max-width: 100%;
}
.qr {
  text-align: center;
}
.qr img {
  width: auto;
  height: 130px;
  padding-left: 2px;
  max-width: 100%;
}

.qrParagraph {
  color: #6f6f6f;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.cardDarkHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 20px;
}

.cardDarkHeaderIcon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #464646;
  margin-bottom: 7px;
}

.cardDarkHeaderTitle {
  font-size: 16px;
  color: #eeeff1;
  width: calc(100% - 40px - 10px);
  font-weight: 700;
}

.cardDarkHeaderTitle span {
  font-size: 13px;
  color: #eeeff1;
  width: calc(100% - 40px - 10px);
  color: #6f6f6f;
}

.cardDarkOtherContentTitle {
  font-size: 18px;
  color: white;
  padding-bottom: 4px;
  font-weight: 700;
  margin-top: 40px;
}

.cardDarkOtherContentPrice {
  font-size: 13px;
  color: #6f87f6;
  padding-bottom: 16px;
}

.cardDarkOtherContentDescription {
  font-size: 13px;
  color: #a7a7a7;
  padding-bottom: 24px;
}

.cardDarkOtherContentButton {
  border: none;
  background-color: #6f87f6;
  width: 100%;
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
