<!-- Menu component -->
<div class="component5026" id="globalMenu">
    <div class="component5026Child"></div>
    <div class="component5026Inner">
        <div class="menuGroupChild"></div>
    </div>
    <div class="component5026Item"></div>
    <div class="homeParent">
        <div class="home menu-item" data-page="home">Home</div>
        <img class="groupItem2" alt="" src="/assets/group-4.svg" />
        <div class="bazaWystawcw menu-item" data-page="wystawcy">Baza wystawców</div>
        <div class="bazaWydarze menu-item" data-page="wydarzenia">Baza Wydarzeń</div>
        <div class="path11682Parent">
            <img class="path11682Icon" alt="" src="/assets/path-11682.svg" />
            <img class="path11683Icon" alt="" src="/assets/path-11683.svg" />
            <img class="path11684Icon" alt="" src="/assets/path-11684.svg" />
            <img class="path11685Icon" alt="" src="/assets/path-11685.svg" />
        </div>
        <img class="groupInner" alt="" src="/assets/group-30441.svg" />
        <img class="ellipseIcon" alt="" src="/assets/ellipse-64.svg" />
        <div class="rectangleDiv2"></div>
        <div class="uytkownicy menu-item" data-page="uzytkownicy">Użytkownicy</div>
        <img class="groupIcon" alt="" src="/assets/group-30483.svg" />
        <div class="bazaDanych menu-item" data-page="baza-danych">Baza danych</div>
    </div>
</div> 