@use '../../styles/mixins' as m;

.container {
  position: relative;
  min-width: 300px;
  min-height: 100vh;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 6rem;
    padding-top: 2rem;
    @media (max-width: 600px) {
      padding: 0;
      gap: 1rem;
    }
  }

  .innerScale {
    transform: scale(0.765);
    transform-origin: top left;
    width: 100%;
  }

  // Push only the inner content of the left column to the right,
  // keeping the background at full width
  .leftContent {
    margin-left: 24rem;
    @media (max-width: 1280px) {
      margin-left: 6rem;
    }
  }

  .right {
    min-height: 100vh;
    padding: 6rem;
    padding-top: 10.2rem;
    @media (max-width: 1280px) {
      padding: 1rem;
      padding-top: 10rem;
      gap: 1rem;
    }

    @media (max-width: 900px) {
      padding-top: 0rem;
    }
  }

  // Push only the inner content of the right column down by 20px
  .rightContent {
    margin-top: 25px;
  }

  .rightBackground {
    @include m.background(light);
  }

  .left {
    min-height: 100vh;
    max-height: fit-content;
    padding: 6rem;
    padding-top: 10.2rem;
    @media (max-width: 1280px) {
      padding: 1rem;
      padding-top: 10rem;
      gap: 1rem;
    }
  }
}

