@use "../../styles/mixins" as m;

.container {
  position: relative;
  min-width: 300px;
  min-height: 100vh;

  .right {
    min-height: 100vh;
    padding: 7rem;
    padding-top: 272px !important;
    padding-right: 17% !important;
    padding-left: 40px !important;
    @media (max-width: 1280px) {
      padding: 1rem !important;
      padding-top: 11.2rem !important;
      gap: 1rem;
    }

    @media (max-width: 900px) {
      padding-top: 0rem;
    }
  }

  .rightBackground {
    @include m.background(light);
  }

  .left {
    min-height: 100vh;
    max-height: fit-content;
    padding: 7rem;
    padding-left: 23.5%;
    padding-top: 190px;
    padding-right: 40px;
    @media (max-width: 1280px) {
      padding: 1rem;
      padding-top: 10rem;
      gap: 1rem;
    }
  }
}
.MuiIconButton-sizeMedium {
  margin-left: auto;
}
