@use "../../styles/mixins" as m;

.container {
  position: relative;
  min-width: 300px;
  min-height: 100vh;

  .right {
    min-height: 100vh;
    padding: 7rem;
    padding-top: 189px !important;
    padding-right: 17% !important;
    padding-left: 40px !important;
    padding-bottom: 40px !important;
    max-height: 100vh !important;
    overflow: scroll !important;
    @media (max-width: 1280px) {
      padding: 1rem !important;
      padding-top: 10rem !important;
      gap: 1rem;
    }

    @media (max-width: 900px) {
      padding-top: 0 !important;
      overflow: hidden !important;
      min-height: unset !important;
      max-height: unset !important;
    }
  }

  // .rightBackground {
  //   @include m.background(light);
  // }

  .left {
    min-height: 100vh;
    max-height: fit-content;
    padding: 7rem;
    padding-left: 23.5%;
    padding-top: 190px;
    padding-right: 40px;
    padding-bottom: 40px !important;
    max-height: 100vh;
    overflow: scroll;
    @media (max-width: 1280px) {
      padding: 1rem;
      padding-top: 10rem;
      gap: 1rem;
    }
    z-index: 1;

    @media (max-width: 900px) {
      overflow: hidden !important;
      min-height: unset !important;
      max-height: unset !important;
    }
  }
}
.MuiIconButton-sizeMedium {
  margin-left: auto;
}
