.container {
  min-height: 100vh;
  background: #eceef0;
}

.header {
  padding: 16px;
}

.left {
  padding: 16px;
}

.right {
  padding: 16px;
}

.rightBackground {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

