@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  font-family: "RocGrotesk";
}

body {
  margin: 0;
  font-family: $font-open-sans;
  color: $color-darkslategray;
  background-color: $color-whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "RocGrotesk", monospace;
}

.Mui-expanded {
  margin-bottom: 0px !important;
}

.MuiAccordion-heading:has(.accordionBlack):has(.Mui-expanded)
  .MuiAccordionSummary-root {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #d7d9dd;
}

.MuiAccordion-heading:has(.accordionBlack) .MuiSvgIcon-root {
  fill: #d7d9dd;
}

body:has(#black-background) #logout-button {
  color: #fff;
}
body:has(#black-background) #logout-button:hover {
  color: var(--color-firebrick);
}
body:has(#black-background) #logout-button svg {
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%)
    hue-rotate(221deg) brightness(104%) contrast(103%);
}
body:has(#black-background) #logout-button:hover svg {
  background-color: none;
  filter: brightness(0) saturate(100%) invert(30%) sepia(57%) saturate(2035%)
    hue-rotate(330deg) brightness(83%) contrast(95%);
}

// @font-face {
//   font-family: "RocGrotesk";
//   src: url("./fonts/rocgrotesk.otf") format("opentype");
// }
