@use "./styles/mixins" as m;
@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  font-family: "roc-grotesk" !important;
}

body {
  margin: 0;
  font-family: $font-open-sans;
  color: $color-darkslategray;
  background-color: $color-whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  overflow: hidden;
  background: url(http://localhost:3000/static/media/background.172bb68459c9ebcd6e49.png)
    no-repeat center bottom;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center calc(100% + 240px);
  @include m.background(light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "roc-grotesk",
    monospace;
}

.Mui-expanded {
  margin-bottom: 0px !important;
}

.MuiAccordion-heading:has(.accordionBlack):has(.Mui-expanded)
  .MuiAccordionSummary-root {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #d7d9dd;
}

.MuiAccordion-heading:has(.accordionBlack) .MuiSvgIcon-root {
  fill: #d7d9dd;
}

body:has(#black-background) #logout-button {
  color: #fff;
}
body:has(#black-background) #logout-button:hover {
  color: var(--color-firebrick);
}
body:has(#black-background) #logout-button svg {
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%)
    hue-rotate(221deg) brightness(104%) contrast(103%);
}
body:has(#black-background) #logout-button:hover svg {
  background-color: none;
  filter: brightness(0) saturate(100%) invert(30%) sepia(57%) saturate(2035%)
    hue-rotate(330deg) brightness(83%) contrast(95%);
}

// @font-face {
//   font-family: "RocGrotesk";
//   src: url("./fonts/rocgrotesk.otf") format("opentype");
// }
