@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  font-family: "RocGrotesk";
}

body {
  margin: 0;
  font-family: $font-open-sans;
  color: $color-darkslategray;
  background-color: $color-whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "RocGrotesk", monospace;
}
// @font-face {
//   font-family: "RocGrotesk";
//   src: url("./fonts/rocgrotesk.otf") format("opentype");
// }
