@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  font-family: "RocGrotesk";
}

body {
  margin: 0;
  font-family: $font-open-sans;
  color: $color-darkslategray;
  background-color: $color-whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "RocGrotesk", monospace;
}

.Mui-expanded {
  margin-bottom: 0px !important;
}

.MuiAccordion-heading:has(.accordionBlack):has(.Mui-expanded)
  .MuiAccordionSummary-root {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #d7d9dd;
}

.MuiAccordion-heading:has(.accordionBlack) .MuiSvgIcon-root {
  fill: #d7d9dd;
}

// @font-face {
//   font-family: "RocGrotesk";
//   src: url("./fonts/rocgrotesk.otf") format("opentype");
// }
