$color-gainsboro: #d7d9dd;
$color-lightgray:#FFFFFF80;
$color-darkgray: #a7a7a7;
$color-darkslategray: #2e2e38; 
$color-gray: #f6f7f8;
$color-white: #fff;
$color-blue: #6F87F6;
$color-red: #c7353c;
$color-mint:#89F4C9;
$color-error:#c7353c;
