@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roc+Grotesk:wght@500&display=swap");

/* Global CSS Variables */
:root {
  /* Color */
  --color-gainsboro: #d7d9dd;
  --color-darkgray: #a7a7a7;
  --color-darkslategray: #2e2e38;
  --color-gray: #f6f7f8;
  --color-white: #fff;
  --color-blue:#7788ef;
  --color-red:#c7353c;
  --color-lightgrin:#89f4c9;

  /* BorderRadius */
  --br-20: 20px;

  /* Font */
  --font-roc-grotesk: Roc Grotesk;
  --font-open-sans: Open Sans;

  /* FontSize */
  --font-size-11: 11px;
}


@media (max-width: 480px) { 
  .loginContainer {
    position:relative;
    padding-top:40px;
    background-image:url('../../assets/Image-35.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
  }
  .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
   .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
 }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }
  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }

  .inputData:focus {
    border-color: var(--color-blue)!important;
    outline: none;
  }
   .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .loginContainer {
    padding-top:40px;
    background-image: url('../../assets/Image-35.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
  }
    .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
  .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }
  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }
  .inputData:focus {
    border-color: var(--color-blue)!important;
    outline: none;
  }
  .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}

@media (min-width: 601px) and (max-width: 768px){
  .loginContainer {
    padding-top:40px;
    background-image: url('../../assets/Image-35.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left 0px top -340px; */
    min-height: 100vh;
    background-attachment: fixed;
  }
  .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
   .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
 }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }
  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }
  .inputData:focus {
    border-color: var(--color-blue)!important;
    outline: none;
  }
  .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}

@media (min-width: 769px) and (max-width: 991px){
  .loginContainer {
    padding-top:40px;
    background-image: 
     linear-gradient(rgba(173, 216, 230, 0.5),
     rgba(173, 216, 230, 0.5)), 
     url('../../assets/Image-35.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left 0px top -440px; */
    min-height: 100vh;
    background-attachment: fixed;
  }
  .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
   .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
 }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }
  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }
  .inputData:focus {
    border-color: var(--color-blue)!important;
    outline: none;
  }
  .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* style dla laptopów */
  .loginContainer {
    background-image: 
     linear-gradient(rgba(173, 216, 230, 0.5),
     rgba(173, 216, 230, 0.5)), 
     url('../../assets//image-35@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
  .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-top: 80px;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
 }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    /* font-family: var(--font-roc-grotesk); */
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }

  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }

  .inputData:focus {

    border-color: var(--color-blue)!important;
    outline: none;
  }
  .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* style dla laptopów */
   .loginContainer {
    background-image: 
     linear-gradient(rgba(173, 216, 230, 0.5),
     rgba(173, 216, 230, 0.5)), 
     url('../../assets//image-35@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filtr{
  background-attachment: fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
  .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-top: 80px;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
 }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    /* font-family: var(--font-roc-grotesk); */
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }
  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }
  .inputData:focus {

    border-color: var(--color-blue)!important;
    outline: none;
  }
   .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}


@media (min-width: 1400px) {
   /* style dla laptopów */
  .loginContainer {
    background-image: 
     linear-gradient(rgba(173, 216, 230, 0.5),
     rgba(173, 216, 230, 0.5)), 
     url('../../assets//image-35@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:80vh;
   width: 100vw;
  }
  .filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 20vh;
   width: 100vw;

  }
  .loginContainerLogo {
    position: relative;
    margin: auto;
    margin-top: 80px;
    margin-bottom:40px;
    width: 71px;
    height: 67px;
    background-image: url(../../assets/group-257@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .loginDataContainer {
    position: relative;
    margin: auto;
    margin-top:0px;
    padding:30px;
    border-radius: var(--br-20);
    background-color:var( --color-gray);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    min-width: 289px;
    max-width: fit-content;
    min-height: 344px;
    max-height: fit-content;
    z-index: 1;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    /* font-family: var(--font-roc-grotesk); */
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    color: var(--color-darkslategray);
  }
  .loginTitle {
    font-weight: 500;
  }

  .inputData {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    -webkit-text-stroke: 1px transparent;
    border-radius:    var(--br-20);
    background-color: var(--color-gray);
    border: 1px solid  var(--color-gainsboro);
  }

  .inputData:focus {

    border-color: var(--color-blue)!important;
    outline: none;
  }
   .inputData::placeholder {
    color:var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans); 
  } 
  .inputDescription{
    color: var(--color-darkgray);
    font-size: 13px;
    font-family: var(--font-open-sans);
    padding-left: 18px;
    margin-top:-5px;
    padding-bottom:18px;
  }
  .buttonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px;
  }
  .logButton{
    background-color: #7788ef;
    color:white;
    cursor: pointer;
    border-radius: var(--br-5);
    border: 1px solid #7788ef;
    padding:10px 20px;
  }
  .logButton:disabled {
  background-color: #e0e0e0;   
  color: #a0a0a0;             
  cursor: not-allowed;         
  opacity: 0.7;                
  border: 1px solid #cccccc;   
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;       
  border-top: 5px solid var(--color-blue);   
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;              
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.errorMessage{
  color: var(--color-red);
  font-size:var(--font-size-11);
  padding-bottom:10px;
}
.errorInputMessage{
  color: var(--color-red);
  font-size: var(--font-size-11);
  padding-bottom:10px;
  color: '#c7353c';
  font-size: '12px';
  margin-left: 13px;
  margin-top:-5px;
}

.remindMePassword{
  margin: auto;
  text-decoration: underline;
  font-size: var(--font-size-11);
  color: var(--color-darkgray);
  font-family: var(--font-open-sans);
  cursor: pointer;
  padding-top:30px;
}
.remindMePassword:hover {
  color: var(--color-blue);
}
