.header {
  display: flex;
  height: 97px;
  margin-top: 60px;
  width: 100%;
}
.headerContainer {
  background-color: #fff;
  width: 78%;
  border-radius: 20px;
  padding: 18px 45px;
}
.headerPadding {
  width: 11%;
}

.image35Icon {
  top: -200%;
  height: 300%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.image35Icon,
.dashboardChild,
.dashboardItem {
  position: fixed;
  left: 0;
  z-index: -2;
  width: 100%;
}

.dashboardChild {
  background: linear-gradient(180deg, #6f87f6, rgba(111, 135, 246, 0));
  height: 100%;
  transform: rotate(180deg);
  mix-blend-mode: overlay;
}

.dashboardItem {
  background: linear-gradient(
    180deg,
    #eceef0,
    #eceef0 53.2%,
    rgba(255, 255, 255, 0)
  );
  top: -200%;
  height: 300%;
}

.dashboardInner {
  width: 63px;
  height: 60px;
  object-fit: cover;
}

.twojeZaplanowaneWydarzenia {
  position: absolute;
  top: 262px;
  left: 146px;
  font-size: var(--font-size-16);
  font-weight: 500;
  display: inline-block;
  width: 306px;
}
.path10Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.zobaczKalendariumPtak {
  position: absolute;
  top: calc(50% - 5px);
  left: 20px;
  font-weight: 500;
}
.path10Parent {
  position: absolute;
  top: 517px;
  left: 533px;
  width: 301px;
  height: 42px;
  text-align: center;
  color: var(--color-white);
  cursor: pointer;
}
.kontakt {
  position: absolute;
  bottom: 24px;
  margin-top: 48px;
  margin-bottom: 24px;
  left: 0;
  right: 0;
  font-size: var(--font-size-11);
  color: var(--color-dimgray);
  white-space: pre-wrap;
  text-align: center;
  overflow: scroll;
}
.div,
.internationalTradeFair {
  font-weight: 500;
  display: inline-block;
}
.internationalTradeFair {
  width: calc(100% + 1px);
  top: calc(50% - 14.5px);
  line-height: 19px;
}
.div {
  width: calc(100% - 2px);
  color: var(--color-dodgerblue);
}
.internationalTradeFairForBParent {
  width: 208px;
  height: 75px;
}
.wybierz {
  font-size: 13px;
  text-decoration: underline;
  letter-spacing: 0.33px;
  text-align: right;
  cursor: pointer;
}
.image29Icon {
  width: 87px;
  height: 77px;
  margin-right: 10px;
  object-fit: cover;
}
.groupContainer {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-20);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}

.wrapper {
  bottom: 15px;
  left: 20px;
  border-radius: var(--br-5);
  background: linear-gradient(90deg, #99e307, #1ae283);
  width: 50px;
  height: 22px;
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--color-white);
}
.gotowo {
  position: absolute;
  top: 113px;
  right: 270px;
  font-size: var(--font-size-11);
  font-family: var(--font-open-sans);
  color: var(--color-dimgray);
}
.groupDiv,
.groupParent {
  position: absolute;
  top: 308px;
  width: 345px;
  height: 170px;
}
.groupParent {
  left: 876px;
}
.groupDiv {
  left: 511px;
}
.groupParent3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 23px 20px rgba(152, 164, 219, 0.47);
  border-radius: var(--br-20);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.frame,
.gotowo2,
.groupParent3 {
  position: absolute;
}
.frame {
  width: calc(100% - 4px);
  right: 4px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5);
  background: linear-gradient(270deg, #ec6a3a, #fe0502);
  height: 22px;
}
.gotowo2 {
  top: 0;
  right: -1px;
  font-size: var(--font-size-11);
  font-family: var(--font-open-sans);
  color: var(--color-dimgray);
  text-align: left;
}
.groupParent4 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 54px;
  height: 42px;
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--color-white);
}
.groupParent2 {
  position: absolute;
  top: 308px;
  left: 146px;
  width: 345px;
  height: 170px;
}
.dzieDobryUser {
  font-weight: 500;
  -webkit-text-stroke: 1px transparent;
}
.bb764a0137abc7a8142b6438e52913Icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 12px;
}
.sprawdCoMoesz {
  font-size: var(--font-size-11);
  font-family: var(--font-open-sans);
  color: var(--color-dimgray);
}
.groupChild {
  width: 18.3px;
  height: 18.3px;
  object-fit: cover;
}
.dzieDobryUserParent {
  display: flex;
  font-size: var(--font-size-16);
}

/* Logout button */
.logoutButton {
  background: none;
  border: none;
  font-size: var(--font-size-12);
  color: var(--color-gray-200);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 97px;
  width: 100%;
  font-weight: 500;
  padding-top: 16px;
  justify-content: center;
  background: url(../assets/logout.svg) no-repeat 50% 30%;
}

.logoutButton:hover {
  color: var(--color-firebrick);
}

.logoutIcon {
  width: 16px;
  height: 16px;
}
.dashboardContainer {
  height: 100%;
  width: 78%;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}

.eventsContainer {
  margin-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.eventElement {
  background-color: #f5f6f7;
  border-radius: 20px;
  border: 1px solid #fff;
  height: 207px;
  padding: 20px;
  display: flex;
  flex: 3;
  flex-grow: 1;
  flex-basis: calc((100% - (2 * 20px)) / 3);
  max-width: calc((100% - (2 * 20px)) / 3);
  flex-direction: column;
}

.eventBottom {
  display: flex;
  align-items: end;
}

.eventTop {
  display: flex;
  align-items: start;
}
.eventReadinessText {
  font-family: "Open Sans";
  color: #a7a7a7;
  font-size: 11px;
}

@media (max-width: 1536px) {
  .eventElement {
    max-width: calc((100% - (2 * 20px)) / 2);
  }
}

@media (max-width: 1024px) {
  .eventElement {
    max-width: 100%;
  }
}
