@import '../../styles/variables';
@import '../../styles/mixins';
.eventsPage {
  position: relative;
  z-index: 1;
}

._exhibitorsPage::before  {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $color-gray;
  top: -1em; 
  background-image: url('../../assets/tło.png');
  background-position: center;
  background-size: cover;
  opacity:0.5;

  @media (max-width: 600px) {
    background-image: url('../../assets/tlo_m.png');
  }
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

._exhibitorsNavigationContainer{
  width:78%;
  margin:auto;
  margin-top:0px;
  margin-bottom:0px;
  position: relative;  
}

._header{
  display: flex;
  flex-wrap: wrap;
  margin-top:1em;
}

// ._logOutButton{
//   position:fixed !important;
//   right: 5% !important;
//   top:4.0% !important;
//   background: transparent !important;
//   box-shadow: none !important;
//   &:hover{
//     font-weight: 600;
//   } 
//   &:hover, &:focus, &:active {
//     background: transparent !important;
//     outline: none !important;
//     box-shadow: none !important;
//   }

//   @include for-desktop-medium {
//     right: 3% !important;
//    }
//   @include for-desktop-small {
//     right: 2% !important;
//    }
//   @include for-tablet-landscape {
//     right: 1.5em !important; 
//    }
//   @include for-tablet-portrait {
//     right:0.5em!important; 
//    }
//   @include for-phone-landscape {
//     right: 1em !important;
//     top:1em !important;
//    }
//   @include for-phone-only {
//     right: 1em !important;
//     top:1em !important;
//    }
// }
.logOutButton{
  //position:fixed !important;
  position: absolute!important;
    right: -6em !important;
    top: 1.5em !important;
  // right: 5% !important;
  // top:4.0% !important;
  background: transparent !important;
  box-shadow: none !important;



  &:hover{
    font-weight: 600;
  } 
  &:hover, &:focus, &:active {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }

  @include for-desktop-medium {
    //right: 3% !important;
    right: -6em !important;
    top: 1.5em !important;
   }
  @include for-desktop-small {
    //right: 2% !important;
    right: -6em !important;
    top: 1.5em !important;
   }
  @include for-tablet-landscape {
    //right: 1.5em !important; 
    right: -6em !important;
    top: 1.5em !important;

   }
  @include for-tablet-portrait {
    // right:0.5em!important; 
    right: -6em !important;
    top: 1.5em !important;
   }
  @include for-phone-landscape {
    // right: 1em !important;
    // top:1em !important;
    right: -2em !important;
    top:0em !important;
   }
  @include for-phone-only {
    // right: 1em !important;
    // top:1em !important;
    position: absolute!important;
    right: -2em !important;
    top:0em !important;

   }
}
._welcomeMessage{
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 padding-top: 1.5em;
  @include for-phone-landscape {
    padding-top:3em;
  }
  @include for-phone-only {
     padding-top:3em;
  }

  @include for-mobile{ 
   flex-direction: column;
   padding-top: 0em;
  } 
}
._backContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  text-align: center;
  cursor: pointer;

   @include for-mobile{ 
    display: block;
    width:50%;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    padding-bottom:2em;
  } 
}
._backIcon {
  width: 35px;
  height: 35px;
  padding-right: 5px;
  fill: #6f6f6f; 
  transition: fill 0.2s, transform 0.2s;
   @include for-mobile{ 
   width: 24px!important;
   height: 24px!important;
 
  } 
}

._backContainer:hover ._backIcon {
  fill: $color-blue;
  transform: scale(1.1);
}

.backText{
 color:$color-darkslategray!important;
 font-size:$font-size-sm !important; //11px
 font-weight: 300!important;
 margin: auto 0!important;
 text-decoration: underline;

  &:hover {
    font-weight: 600!important;
  }

  @media (max-width: 320px) {
  display: none !important;
  }
}
._logedUserInfo{
display:flex;
}
._avatar {
  width: 2.118em !important; // 35px
  height: 2.118em !important; // 35x
  padding-right: 0.5em;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

._welcomeMessageTitle{
  color:$color-darkslategray!important;
  font-size:$font-size-base!important;//16px
}
._applausepng{
  width:1.125em;//18px
  height: 1.125em;//18px 
  position: relative;
  top: 0.25em;
  left: 0.25em;
}
._welcomeMessageText{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; //11px
 font-weight: 300!important;
}
.contentWrapper {
  width: 90% !important;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  margin:50px 50px;
  position: relative; 
  z-index: 100 !important;
}
._tableHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 1.5em;
  padding-bottom: 0px!important;
}
._titleTableContainer { 
  display: flex;
  flex-direction: column;
}
._userTitle{
  display: flex;
  flex-direction: row;
}
._titleIcon {
  width: 2.6875em; // 43px
  height: 2.6875em; // 43px
  object-fit: contain;
  
  @include for-phone-only {
    width: 2.25em; // 36px
    height: 2.25em; // 36px
  }
  
  @include for-desktop-large {
    width: 3.125em; // 50px
    height: 3.125em; // 50px
  }
}
.pageTitle{
  color:#5db9a3!important; 
  margin: auto auto !important;
  font-size: 14px !important;
  font-weight: 600 !important;

}
._path{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; 
 font-weight: 300!important;
 padding-top: 0.5em;
 padding-left: 1em;
}
.addEventsContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  text-align: center;
  cursor: pointer;
  align-items: center;
}
.addEventIcon{
 width: 11.45px;
  height: 11.64px;
  padding-right: 5px;
  fill: #6f6f6f; 
  transition: fill 0.2s, transform 0.2s;
  
}
.addEventText{
  color:$color-darkslategray!important;
 font-size:$font-size-sm !important; //11px
 font-weight: 300!important;
 margin: auto!important;
 text-decoration: underline;

  &:hover {
    font-weight: 600!important;
  }
   @include for-phone-only {
    display:none;
  }
}
._tableContainer { 
  overflow: hidden;
  box-shadow: none !important;
  padding:0px 24px;

  @include for-mobile {
    overflow-x: auto;
    
    .MuiTable-root {
      min-width: 40em; // 640px
    }
  }
}

._tableHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 1.5em;
}
._leftSTable{
  padding-left:50px!important;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 150px!important;
}
._tableCell ._leftSTable,
._tableCell ._firstRow {
  padding-bottom: 1em;
}
._firstRow{
  width: fit-content;
}
._tableCell {
  font-size: 0.875em!important;
  font-weight:300 !important;
  color:$color-almostblack !important;
  font-family: $font-open-sans !important;
  padding:0px!important;
  white-space: nowrap!important;
  padding-right: 16px!important;
}
._textOverflow{
  max-width:250px!important;
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}
._companyCellWithLogo{
  display:flex;
  flex-direction: row;
  gap:1em;
}
._companyNameAndOuner{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;;
}
._avatarTableCell{
  width:1.2em!important;
  height:1.2em!important;
  font-size:0.8em!important;
  background-color: transparent!important;
  color:#6F87F6 !important;
  border:#6F87F6 solid 2px !important;
  margin: auto 0px;
}
._seeExhibitorCard{
  font-size: $font-size-sm !important;
  font-weight: 300!important;
  color:$color-darkslategray!important;
  text-decoration: underline;
  cursor:pointer;
    @include for-phone-only {
    display:none;
  }
}
._seeExhibitorCardIcon{
   cursor:pointer;
   height: 0.8123em !important;
   width: auto!important;
}
._boxWithHover{
    cursor: pointer; 

  &:hover {
    ._seeExhibitorCard {
      font-weight: 500;
      color: $color-blue!important;
    }
    ._seeExhibitorCardIcon {
      color: $color-blue!important;
      fill: $color-blue!important;
      transition: all 0.2s ease;
    }
  }
}
._seeExhibitorCard {
  transition: all 0.2s ease;

}

._seeExhibitorCardIcon {
  width: 16px;
  height: 16px;
  transition: all 0.2s ease;
}


._noEffectsButton {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  transition: none !important;
  padding-left: 0.5em!important;
  
  &:hover {
    background-color: transparent !important; 
    

    svg {
      color: $color-blue !important; 
    }
  }

  &:active,
  &:focus,
  &:visited,
  &:focus-visible {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
._actionButtons{
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  justify-content: right;

  
  .MuiIconButton-root {
    padding: $spacing-sm;
    border-radius: $border-radius-sm;
    transition: $transition-normal;
    
    @include for-phone-only {
      padding: $spacing-xs;
    }
    
    &:hover {
      background-color: $color-gainsboro-100;
    }
  }
}
.footer {
  position:relative;
  bottom:0;
  padding-top:1em;
  min-height: 3em;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100 !important;

} 
.cc{
  color:#6F6F6F!important;
  font-weight: 100!important;
  font-size: 11px!important;
  margin:auto !important;
}
.filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:60vh;
   width: 100%;
    @include for-tablet-portrait-up  {
       background-image: url('../../assets/Rectangle-8313.svg');
       mask-image: linear-gradient(to top, transparent, #6F87F6 50%);
    }
}
.filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 40vh;
   width: 100%;
   @include for-desktop-up {
     min-height: 60vh;
   }
}

.arrowUpIcon{
  margin-top: 2px;
}
.arrowDownIcon{
  margin-top: 2px;
transform: rotate(180deg);
}
.leftSTable{
  justify-content: space-between;
}
.doubleArrow{
  display:flex;
  padding-right:0.5em;
}
.titleAndFilterContainer{
  display:flex;
  flex-direction: row;
  width:100%;
  vertical-align: middle;
}
.titleTableWithFilter{
  margin-right: 2em;
}
.breadcrumbs {
  a {
    cursor: pointer;
    color: $color-almostblack;
    text-decoration: none;
    font-size:$font-size-xs !important; 
    font-weight: 300!important;
    
    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}
.linkEnd{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; 
 font-weight: 300!important;
 padding-top: 0.5em;
}

//new 

.currentEvents {
    padding: 1em 1em;
}
.upcomingEvents{
    padding: 1em 1em;
}

.sectionTitle{
    font-size: 1rem important;
    color:#2E2E38!important;
    font-weight: 600!important;
    padding-bottom: 1em;
}

.eventsCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 345px));
  gap: 1rem;
  //justify-content: center; /* cała siatka na środku */
  justify-content:flex-start; 
}

.singleEventCard {
  width: 100%;        
  height: 176px;
  border-radius: 20px;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;

 background-color: $color-whitesmoke;
 border: 2px solid white;
}

.singleEventCard:hover {
 transform: translateY(-0.125em); // 2px
 box-shadow: 0 1.5625em 1.875em rgba(100, 109, 150, 0.25); 
}
.logoOnPhoto{
    width: 35% !important;
    background-color: gray;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding: 1em;
    position: relative;
    width: 100%;
    overflow: hidden;  
    align-items: center;
}
.eventInfo{
    width: 65% !important;
    background-color: #f5f6f7;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
.eventInfoData{
    color: #6F87F6!important;
    font-size: 0.875em!important;
    font-weight: 300!important;
}
.eventInfoTitle{
    color: #2e2e38!important;
    font-size: 0.875em!important;
    font-weight: 600!important;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
}
.actionButton{
    cursor: pointer!important;
}
.chooseText {
  color: darkslategray !important;
  font-size: 11px !important;
  font-weight: 300 !important;
  text-decoration: underline;
}
.actionButton:hover .chooseText {
  font-weight: 600 !important;
}

.eventImgBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
   z-index: 1;
}
.eventLogo {
  position: relative;  
  z-index: 2;
  width: 90%;  
  height: auto;
}
.selectTypeRow{
display:flex;
flex-direction: row;
justify-content: flex-start;
gap:1em;
padding-bottom: 2em;
width:100%;
}
.columnLabel{
 display:flex;
 flex-direction: column;
 justify-content: flex-start;
 width:100px;
}

.selectField {
    font-size: 11px!important;
    color:$color-darkgray!important;
    font-weight: 300!important;
    vertical-align: top;
}
.columnSelect{
 display:flex;
 flex-direction: column;
 justify-content: flex-start;    
 width: calc(100% - 100px);;
}
.selectTypeRow {
  display: flex;
  align-items: center;
  gap: 1em;
}
.noData{
    font-size: 11px!important;
    color:$color-darkgray!important;
    font-weight: 300!important; 
}