.container {
  @media (max-width: 1280px) {
    padding: 0.8rem;
    padding-top: 4rem;
    gap: 1rem;
  }
  margin-top: 0px !important;

  @media (max-width: 600px) {
    padding-top: 0;
  }
  .card {
    cursor: pointer;
    border-radius: 20px !important;
    text-align: center;
    // Make only background semi-transparent, not the content
    background: rgba(255, 255, 255, 0.5) !important;
    transition: 0.3s;
    // Approx. 243x173 proportions
    // aspect-ratio: 243 / 173;
    width: 100%;
    height: 201px;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
.eventHomeContainer {
  margin-top: 83px !important;
  @media (max-width: 1280px) {
    margin-top: 18px !important;
  }
}
