@import '../../styles/variables';
@import '../../styles/mixins';
.pageContainer {
  position: relative;
  z-index: 1;
}

.pageContainer::before  {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $color-gray;
  top: -1em; 
  background-image: url('../../assets/tło.png');
  background-position: center;
  background-size: cover;
  opacity:0.5;

  @media (max-width: 600px) {
    background-image: url('../../assets/tlo_m.png');
  }
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageNavigationContainer{
  width:78%;
  margin:auto;
  margin-top:0px;
  margin-bottom:0px;
  position: relative;  
}

.pageHeader{
  display: flex;
  flex-wrap: wrap;
  margin-top:1em;
}
.logOutButton{
  position:fixed !important;
  right: 5% !important;
  top:4.0% !important;
  background: transparent !important;
  box-shadow: none !important;
  &:hover{
    font-weight: 600;
  } 
  &:hover, &:focus, &:active {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }

  @include for-desktop-medium {
    right: 3% !important;
   }
  @include for-desktop-small {
    right: 2% !important;
   }
  @include for-tablet-landscape {
    right: 1.5em !important; 
   }
  @include for-tablet-portrait {
    right:0.5em!important; 
   }
  @include for-phone-landscape {
    right: 1em !important;
    top:1em !important;
   }
  @include for-phone-only {
    right: 1em !important;
    top:1em !important;
   }
}
.welcomeMessage{
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 padding-top: 1.5em;
  @include for-phone-landscape {
    padding-top:3em;
  }
  @include for-phone-only {
     padding-top:3em;
  }

  @include for-mobile{ 
   flex-direction: column;
   padding-top: 0em;
  } 
}
.backContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  text-align: center;
  cursor: pointer;

   @include for-mobile{ 
    display: block;
    width:50%;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    padding-bottom:2em;
  } 
}
.backIcon {
  width: 35px;
  height: 35px;
  padding-right: 5px;
  fill: #6f6f6f; 
  transition: fill 0.2s, transform 0.2s;
   @include for-mobile{ 
   width: 24px!important;
   height: 24px!important;
 
  } 
}
.backContainer:hover .backIcon {
  fill: $color-blue;
  transform: scale(1.1);
}
.backText{
 color:$color-darkslategray!important;
 font-size:$font-size-sm !important; //11px
 font-weight: 300!important;
 margin: auto!important;
 text-decoration: underline;

  &:hover {
    font-weight: 600!important;
  }

  @media (max-width: 320px) {
  display: none !important;
  }
}
.logedUserInfo{
display:flex;
}
.avatar {
  width: 2.118em !important; // 35px
  height: 2.118em !important; // 35x
  padding-right: 0.5em;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.welcomeMessageTitle{
  color:$color-darkslategray!important;
  font-size:$font-size-base!important;//16px
}
.applausepng{
  width:1.125em;//18px
  height: 1.125em;//18px 
  position: relative;
  top: 0.25em;
  left: 0.25em;
}
.welcomeMessageText{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; //11px
 font-weight: 300!important;
}
.contentWrapper {
  width: 90% !important;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  margin:50px 50px;
  position: relative; 
  z-index: auto !important; // avoid overlaying header/menu
  //min-width: 600px;
}
.tableHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 1.5em;
}
.titleTableContainer { 
  display: flex;
  flex-direction: column;
  width:100%;
}
.pageTitleContainer{
  display: flex;
  flex-direction: row;
}
.pageIcon {
  width: 2.6875em; // 43px
  height: 2.6875em; // 43px
  object-fit: contain;
  
  @include for-phone-only {
    width: 2.25em; // 36px
    height: 2.25em; // 36px
  }
  
  @include for-desktop-large {
    width: 3.125em; // 50px
    height: 3.125em; // 50px
  }
}
.pageTitle{
  color:$color-mediumslateblue!important; 
  margin: auto 1em !important;
  font-size: 14px !important;
  font-weight: 600 !important;

}
.path{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; 
 font-weight: 300!important;
 padding-top: 0.5em;
 padding-left: 1em;
}

.breadcrumbs {
  a {
    cursor: pointer;
    color: $color-almostblack;
    text-decoration: none;
    font-size:$font-size-xs !important; 
    font-weight: 300!important;
    
    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}
.linkEnd{
 color:$color-almostblack!important;
 font-size:$font-size-xs !important; 
 font-weight: 300!important;
}
.exhibitionData{
 padding: 2em 0.5em 0em 0.5em;
 width:100%;
 @include for-tablet-portrait-up { 
  padding: 2em 1em 0em 1em;
 }   
}

//DATA ERXHIBITOR
.deleteIcon{
  @include for-desktop-up{
    display: none;
  }
}
.line{ 
 width: 100%;
 height: 2px;
 border-radius: 1px;
}

.exhibitorCard{
  border-top: 2px solid #EFF3F6;
  border-bottom: 2px solid #EFF3F6;
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  column-gap: 0.5em;
  padding-top:1em;
  padding-bottom: 1em;

  @include for-tablet-portrait-up {
  flex-direction: row;
  column-gap: 0.5em;
 }

}

.exhibitorCardData{
    display:flex;
    flex-direction: column;
    width: 100%;
    column-gap: 0.5em;
    row-gap: 0.5em;
    justify-content: space-between;
    @include for-tablet-portrait-up {
     flex-direction: row;
     width:calc(100% - 40px);
     flex-wrap: wrap;
    }
}
.box{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:space-between;
    row-gap: 0.5em; 
    //background-color: pink;
    min-width: 100%;
    @include for-tablet-portrait-up {
      min-width: 30%;
      //background-color: green;
    }
}
.exhibitorCardAction{
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.5em;
     
    @include for-tablet-portrait-up {
    //background-color: yellow;
 }
    
}
.infoGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.2em;
    // width:50%;
    @include for-tablet-portrait-up {
    // width:100%;
     column-gap: 0.5em;
    }
}
.infoGroupLabel{
 font-size:$font-size-xs!important;
 color:$color-almostblack!important;
 font-weight:400!important;
 white-space: wrap;
  @include for-tablet-portrait-up {
   white-space: nowrap; 
  }
}
.infoGroupValue{
 font-size:0.9375em!important;
 font-weight:500!important;
 color:$color-darkslategray!important;
 flex-wrap: nowrap!important;
 overflow: hidden!important;       /* Ukryj nadmiar tekstu */
 text-overflow: ellipsis!important; /* Dodaj wielokropek na końcu obciętego tekstu */
 white-space: nowrap!important;     /* Tekst w jednej linii */
}
.infoGroupValue_cn{
 font-size:0.9375em!important;
 font-weight:600!important;
 color:$color-darkslategray!important;
 flex-wrap: nowrap!important;
 overflow: hidden!important;       /* Ukryj nadmiar tekstu */
 text-overflow: ellipsis!important; /* Dodaj wielokropek na końcu obciętego tekstu */
 white-space: nowrap!important;     /* Tekst w jednej linii */
}

.actionButton{
    padding-left: 0.5em;
    display:flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: flex-start;
    cursor:pointer
}
.wastebasketIcon{
    height: 13px;
    width: auto;
    margin:0.25em auto;
}
.wastebasketText{
 color:$color-darkslategray!important;
 font-size:$font-size-sm !important; //11px
 font-weight: 300!important;
 //margin: auto!important;
 margin-top: 0.25em!important;
 text-decoration: underline;
 white-space: nowrap;
   &:hover {
    font-weight: 600!important;
  }

  @media (max-width: 320px) {
  display: none !important;
  }
}
.actionButton:hover .wastebasketIcon  {
  fill: $color-blue;
  transform: scale(1.1);
}

//INFO ROW
.infoRow{
 padding: 0.5em 0.5em 0em 0.5em;
 width:100%;
 @include for-tablet-portrait-up { 
 padding: 0.5em 1em 0em 1em;
 }   
}
.titleForAllPlanedExhibitions{
 font-size:1em!important;
 font-weight:600!important;
 color:$color-darkslategray!important;
 flex-wrap: nowrap!important;
 overflow: hidden!important;       /* Ukryj nadmiar tekstu */
 text-overflow: ellipsis!important; /* Dodaj wielokropek na końcu obciętego tekstu */
 white-space: nowrap!important;     /* Tekst w jednej linii */
}
.noEvents{
 font-size:0.9375em!important;
 font-weight:500!important;
 color:$color-darkslategray!important;
 flex-wrap: nowrap!important;
 overflow: hidden!important;       /* Ukryj nadmiar tekstu */
 text-overflow: ellipsis!important; /* Dodaj wielokropek na końcu obciętego tekstu */
 white-space: nowrap!important;     /* Tekst w jednej linii */
}
.row{
  display:flex;
  flex-direction: column-reverse;
  row-gap: 1em; 
 @include for-tablet-landscape-up{
  flex-direction: row;
  justify-content: space-between;
 }
}
.sectionTitle{
 width:100%;
  @include for-tablet-landscape-up{
  width:50%;
 }
}
.sectionAction{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
  column-gap: 2em;
  @include for-tablet-landscape-up{
  width:50%;
 }
}
.addIcon{
    height: 13px;
    width: auto;
    margin:auto auto
}
.keyIcon{
    height: 13px;
    width: auto;
    margin:auto auto
}

.actionButton:hover .keyIcon {
  fill: $color-blue;
  transform: scale(1.1);
}

.actionButton:hover .addIcon {
  fill: $color-blue;
  transform: scale(1.1);
}

//ALL EXHIBITIONS
// .allExhibitions { 
//   display: flex;
//   flex-direction: row;
//   width:100%;
//   flex-wrap: wrap;
//   padding-top: 1em;
//   column-gap: 0.5em;
//   row-gap: 0.5em;
//   justify-content: flex-start;
//   padding-bottom:2em;
// }

.allExhibitions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 0.5em 1em; /* wiersz, kolumna */
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
}
//FOOTER
.footer {
  position:relative;
  bottom:0;
  padding-top:1em;
  min-height: 3em;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100 !important;

} 
.cc{
  color:#6F6F6F!important;
  font-weight: 100!important;
  font-size: 11px!important;
  margin:auto !important;
}
.filtr{
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none; // ensure background overlay never blocks clicks
}
.filtrGray{
   background-image: url('../../assets/Rectangle-8313.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height:60vh;
   width: 100%;
   pointer-events: none; // clicks pass through
    @include for-tablet-portrait-up  {
       background-image: url('../../assets/Rectangle-8313.svg');
       mask-image: linear-gradient(to top, transparent, #6F87F6 50%);
    }
}
.filtrBlue{
   background-image: url('../../assets/Rectangle-8378.svg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 40vh;
   width: 100%;
   pointer-events: none; // clicks pass through
   @include for-desktop-up {
     min-height: 60vh;
   }
}
//Pojedyńćze wydarzenie
.singleEventInfo{

}

.tabPaperContainer {
 
  display: flex;
  flex-direction: column; /* domyślnie jedna kolumna - mobile first */
  width: 100wh;
  row-gap: 2em;
}
 @media (min-width: 1100px) {
//@media (min-width: 600px) {
  .tabPaperContainer {
    flex-direction: row;  /* przejście na układ poziomy */
  }

  .tabPaperContainer > :first-child {
    flex: 1; /* 1 część */
    width: 100wh;
  }

  .tabPaperContainer > :last-child {
    flex: 2; /* 2 części */
    width: 100wh;
  }
}
.eventBusinessCard{
  row-gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

 @media (min-width: 1100px) {
  //@media (min-width: 600px) {
    margin-right: 2em;
    align-items:flex-start;
  }

 
  @media (min-width: 600px) {
    margin-right: 2em;
    align-items:flex-start;
  }

  
}


.selestedTitleWrapper{
font-size: 1rem !important;
font-weight: 600 !important;
}